@font-face {
	font-family: 'Futures-iconfont';
	src:url('../fonts/Futures-iconfont.eot?-u9cx6');
	src:url('../fonts/Futures-iconfont.eot?#iefix-u9cx6') format('embedded-opentype'),
		url('../fonts/Futures-iconfont.ttf?-u9cx6') format('truetype'),
		url('../fonts/Futures-iconfont.woff?-u9cx6') format('woff'),
		url('../fonts/Futures-iconfont.svg?-u9cx6#Futures-iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Futures-iconfont';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Futuresicon-06 .path1:before {
	content: "\e600";
	color: rgb(216, 216, 216);
}
.icon-Futuresicon-06 .path2:before {
	content: "\e601";
	margin-left: -1em;
	color: rgb(22, 135, 30);
}
.icon-Futuresicon-06 .path3:before {
	content: "\e602";
	margin-left: -1em;
	color: rgb(22, 135, 30);
}
.icon-Futuresicon-04:before {
	content: "\e603";
}
.icon-Futuresicon-05 .path1:before {
	content: "\e604";
	color: rgb(196, 33, 44);
}
.icon-Futuresicon-05 .path2:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Futuresicon-07 .path1:before {
	content: "\e608";
	color: rgb(216, 216, 216);
}
.icon-Futuresicon-07 .path2:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(172, 32, 31);
}
.icon-Futuresicon-07 .path3:before {
	content: "\e60a";
	margin-left: -1em;
	color: rgb(172, 32, 31);
}
.icon-Futuresicon_down:before {
	content: "\e605";
}
.icon-Futuresicon_up:before {
	content: "\e606";
}
