@font-face {
	font-family: 'Futures-iconfont';
	src:url('../fonts/Futures-iconfont.eot?vk09cm');
	src:url('../fonts/Futures-iconfont.eot?#iefixvk09cm') format('embedded-opentype'),
		url('../fonts/Futures-iconfont.ttf?vk09cm') format('truetype'),
		url('../fonts/Futures-iconfont.woff?vk09cm') format('woff'),
		url('../fonts/Futures-iconfont.svg?vk09cm#Futures-iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Futures-iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Futuresicon-pagenext:before {
	content: "\e804";
}
.icon-Futuresicon-pagesend:before {
	content: "\e805";
}
.icon-Futuresicon-next:before {
	content: "\e800";
}
.icon-Futuresicon-previous:before {
	content: "\e801";
}
.icon-Futuresicon-right:before {
	content: "\e802";
}
.icon-Futuresicon-wrong:before {
	content: "\e803";
}
.icon-Futuresicon-page:before {
	content: "\e600";
}
.icon-Futuresicon-pages:before {
	content: "\e601";
}
.icon-Futuresicon-Price:before {
	content: "\e613";
}
.icon-Futuresicon-Quantity:before {
	content: "\e614";
}
.icon-Futuresicon_close:before {
	content: "\e60b";
}
.icon-Futuresicon-04:before {
	content: "\e608";
}
.icon-Futuresicon-05 .path1:before {
	content: "\e609";
	color: rgb(196, 33, 44);
}
.icon-Futuresicon-05 .path2:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Futuresicon_down:before {
	content: "\e60c";
}
.icon-Futuresicon_up:before {
	content: "\e60d";
}

